<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.audioplayer">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.AudioPlayer"
            android:value="com.example.audioplayer.AudioPlayer" />
    </application>

</manifest>
